* {
    box-sizing: border-box;
    background-color: black;
    color: antiquewhite;
    font-family: 'Georama', sans-serif;
   
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding:10px;
    margin-left: 10px;
    background-color:rgba(163, 163, 163, 0.281);
    border: 0;
    border-left: 3px solid rgb(0, 0, 0);
   margin: 10px;
    resize: vertical;
  }
 

  input:focus{
    outline: none;
  }
  
  label {
    display: inline-block;
    text-align:end;
    width:100%;
  }

  
  input[type=submit]:hover {
    background-color: #45a049;
    
  }
 
  #infop{
     margin-bottom: 10px;
      margin-left: 13px;
      display:inline-block;
      opacity: 0.5;
      font-size: 10px;
  }
  #divform{
    margin: 10px;
    padding: 10px;
    border: 2px solid;
  }
  
  
  .col-25 {
    width: 25%;
    margin: 10px;
  }
  
  .col-75 {
    width: 43%;
  }
  button{
      width: 100%;
      background-color: rgba(43, 122, 226, 0.767);
      outline: 0; 
      border-radius: 4px;
      padding: 5px;
      margin-left: 10px;
  }
  
  
  .row{
      display:flex;
      justify-content: center;
      align-items: center;
  }
  

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin: 0;
    }
    #divform{
      padding: 30px;
    }
    
    
  } 